// Here you can add other styles
.row{
    margin-bottom: 15px;
}
.file{
    margin-right: 23px;
}
.form-control{
    width: 150%;
}
.imagePreview{
    height: 100px;
    width: 100px;
    margin-left: 90px;
}
.notification_button{
    float: right;
    margin-bottom: 0;
}

.date{
    width: 260px;
    margin-bottom: 15px;
}
.modal-content{
    width: 950px;
}
.wrapperClassName{
    width: 450px;
    margin-top: 15px;
    border: solid 1px #c8ced3;
}
.toolbarClassName{
    height: 105px;
}
.editorClassName{
    height: 125px !important;
}
.dropdown-toggle{
    width: 200px;
    background: white;
}
.dropdown-menu{
    width: 200px;
}
.show > .btn-secondary.dropdown-toggle{
    background-color: white;
}
.btn-secondary:hover{
 background-color: white;
}
.upload_btn{
    background: #20a8d8;
    color: white;
    border-radius: 5px;
    border-color: #20a8d8;
}
.sweet-loading{
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1000;
}
.modal{
    justify-content: center;
    display: flex !important;
}
.modal-dialog{
    max-width: none;
}
.fileInput{
    margin-left: 90px;
}
.replace-btn{
    height: 21px;
    margin-left: 15px;
    font-size: 13px;
    padding-top: 0px;
}
.portfoilio-img{
    display: block;
    border: 1px solid #aaa;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.nav-link{
    padding: 1.3rem !important;
}
.btn-success{
    color: #fff;
    background-color: #00b0a5;
    border-color: #00b0a5;
}
.btn-success:hover{
    color: #fff;
    background-color: #00b0a5;
    border-color: #00b0a5;
}
.btn-success.disabled, .btn-success:disabled{
    background-color: #00b0a5;
    border-color: #00b0a5;
}
.sidebar{
    background: #075b56 !important;
}
.nav-link:hover{
background: #00b0a5 !important;
}
.nav-link.active{
    background: #054743 !important;
}
.login{
    color: white;
    background: #20a8d8;
    margin-left: 170px;
}
.login:hover{
    color: white;
    background: #20a8d8;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: white;
}